body {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
  margin: 0 0.5rem;
}
figure {
  justify-content: flex-start;
  border: 1px solid #556CCC;
  background-color: #B7C5FF;
}
h1 {
  font-size: 2.3em;
  font-weight: bold;
  color: hsla(0, 70%, 0%, 0.85);
  font-family: Merriweather, serif;
}
h2 {
  font-size: 1.5em;
  font-weight: 600;
}
h3 {
  font-size: 1.25em;
}
p {
  margin: 1rem auto;
}
.wide {
  width: 100%;
}
.shadow {
  box-shadow: 3px 3px 10px #000;
}
.flex {
  display: flex;
  align-items: center;
}
/* Navigation */
.navbar {
  justify-content: space-between;
  position: fixed;
  top: 0px;
  z-index: 3;
  background-color: #6B87FF;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #556CCC;
}
.logo {
  margin-left: 1.5rem;
}
.logo img {
  height: 2rem;
}
.logo h4 span {
  color: #B7C5FF;
}
.navigation {
  margin-right: 1.5rem;
}
/* Header */
header {
  margin-top: 64px;
  background-color: #B7C5FF;
}
.banner {
  flex-direction: column;
}
.banner a {
  align-self: flex-start;
  font-size: 1.2em;
  color: white;
  background-color: #7B94FF;
  padding: 0.5rem 35%;
}
/* Quote */
.quote {
  color: gray;
  margin: 1.5rem auto;
}
/* Side Article */
.info-image{
  height: auto;
  margin: 1rem;
}
.info p {
  margin: 0.5 0;
}
.info a {
  color: blue;
  margin: 0;
}
/* Start Learning */
.start-learning {
  background-color: #B7C5FF;
}
.center-head {
  text-align: center;
}
.learn {
  background-color: #fff;
  border: 1px solid #556CCC;
}
.text {
  margin-left: 1rem;
}
.text h2 {
  margin-top: 1rem;
}
.text h3 {
  margin: 0.5rem auto;
}
.text p {
  margin-bottom: 1.5rem;
}
/* Footer */
footer {
  background-color: #B7C5FF;
  border-top: 1px solid #556CCC;
}
@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  figure {
    margin-left: 1rem;
    margin-bottom: 4px;
  }
  /* header */
  header {
    justify-content: flex-start;
  }
  .banner {
    width: 30%;
  }
  .banner h3 {
    margin: 1.5rem 0;
  }
  /* Image and content alignment */
  .section {
    display: flex;
    width: 100%;
  }
  .left-side {
    margin: 2rem 1.5rem;
    max-width: 60%;
  }
  /* General Articles */
  .practice {
    margin-bottom: 2rem;
  }
  /* Side Articles */
  .information {
    margin-top: 2rem;
  }
  .info-image {
    width: 35%;
  }
  /* Start Learning */
  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 4.5rem;
  }
  .center-head {
    padding: 2rem 0;
  }
  .learn {
    margin-bottom: 2rem;
    width: 30%;
  }
  .learn img {
    height: auto;
    width: 100%;
  }
  /* Footer */
  footer {
    height: 70px;
  }
}
@media only screen and (min-width: 601px) {
  .desk-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .learn {
    flex-direction: column;
    justify-content: flex-start;
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 601px) {
  .mobile {
    display: none;
  }
  /* Header */
  .banner a {
    margin: 1rem auto;
  }
  .section {
    flex-direction: column;
  }
  /* General Article */
  .practice {
    text-align: center;
  }
  /* Side Articles */
  .info {
    width: 45%;
  }
  /* Start Learning */
  .start-learning {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .learn {
    width: 60%;
    margin: 1rem auto;
  }
  /* Footer */
  footer {
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .desktop,
  .practice {
    display: none;
  }
  figure {
    margin: 1rem;
  }
  /* Navigation */
  .logo {
    margin-left: 0;
    justify-content: space-around;
    width: 100%;
  }
  /* Header */
  .left-side {
    width: 100%;
  }
  .banner {
    margin: 0 1rem;
  }
  .banner h1 {
    margin: 2rem auto;
  }
  .banner a {
    margin: 1.5rem auto 2rem auto;
  }
  /* Side Article */
  .information {
    margin-top: 1rem;
  }
  .info-image {
    margin: 0;
    height: auto;
  }
  .campus {
    margin: 4rem 1rem;
  }
  .info {
    margin-left: 1rem;
  }
  .lecture {
    margin-bottom: 2rem;
  }
  /* Start Learning */
  .wrap figure {
    margin: 0.5rem;
  }
  .center-head {
    padding-top: 2rem;
    margin-bottom: 1rem;
  }
  .start-learning {
    padding-bottom: 2rem;
  }
  .text h2 {
    margin: 1rem 0 1.5rem 0;
  }
  .text h3,
  .text p {
    display: none;
  }
  /* Thesis */
  video {
    margin-bottom: 1.5rem;
  }
  /* Footer */
  footer {
    text-align: center;
    padding: 1rem 0;
  }
}
